* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  background-color: salmon;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

#form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

#form input {
  width: 90%;
  padding: 15px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
}

#form button {
  border: none;
  background-color: blue;
  padding: 15px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.item {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
min-width: 250px;
height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.item .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
  gap: 15px;
}
.item .left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 25px;
  top: 45px;
  gap: 15px;
}

.right button:first-child {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.right button:last-child {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

#todo-wrapper{
display: flex;
gap: 25px;
flex-wrap: wrap;
}